/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
    background-color: #aab8c7;
    height: 100px;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
}

@font-face {
    font-family: 'Stonehenge';
    src: url('./resources/stonehen.ttf');
}

h1 {
    color: #170d24;
    font-size: 88px;
    font-family: 'Stonehenge', cursive;
    position: absolute;
    padding-top: 25px;
}

body {
    background-color: #9bb6b8;
}

button:hover {
    cursor: pointer;
}

.nav-btn {
    height: 55px;
    width: 120px;
    background-color: #aab8c7;
    color: #170d24;
    font-size: 22px;
    border-color: #566b54;
}

.nav-btn:hover {
    background-color: #170d24;
    color: #aab8c7;
}

nav {
    float: right;
    justify-content: space-around;
    align-items: center;
    padding-top: 75px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #aab8c7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#made-by {
    text-align: center;
    color: #170d24;
}